<div class="schools">
  <button type="button" (click)="btnNew_Clicked()">New</button>
  <div class="container">
    <div class="grid">
      <div class="header">
        <div class="sc-select">&nbsp;</div>
        <div class="sc-name">Name</div>
        <div class="sc-contact">Contact</div>
        <div class="sc-email">Contact Email</div>
      </div>
      <div class="school" *ngFor="let school of schools; let i = index">
        <div class="sc-select"><input type="checkbox" (click)="SchoolSelect_Clicked(i)"></div>
        <div class="sc-name">{{school.name}}</div>
        <div class="sc-contact">{{school.contactName}}</div>
        <div class="sc-email">{{school.contactEmail}}</div>
      </div>
    </div>
</div>